body {
  font-family: sans-serif;
}

main {
  display: flex;
}

canvas {
  width: 100%;
  image-rendering: pixelated;
}

.sidebar {
  flex-basis: 200px;
  padding: 20px;
  border-right: 1px black solid;
}

.canvas-container {
  flex-grow: 1;
}

/* vim: set et ts=2 sw=2 */
