body {
  font-family: sans-serif;
}

main {
  display: flex;
}

canvas {
  flex: 0 1 1280px;
}

.sidebar {
  flex-basis: 60ch;
  padding: 20px;
  border-right: 1px black solid;
  max-width: 80ch;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.canvas-wrapper {
  display: flex;
}

.mesh-vertices {
  max-height: 400px;
  overflow-y: scroll;
}

.vertex-container {
  display: flex;
  gap: 2ch;
}

.vertex-label {
  flex-basis: 15ch;
}

.vertex-value {
  display: flex;
  gap: 2ch;
  flex-grow: 1;
}

.vertex-value > code {
  flex-basis: 15ch;
  text-align: right;
}

/* vim: set et ts=2 sw=2 */
